.wrapperDataActivity {
  display: flex;
  border-top: 1px solid #8395a7;
}

.wrapperDataActivity div {
  height: 50px;
  display: flex;
  align-items: center;
}

.wrapperDataActivity span {
  margin-left: 10px;
}

.divNombre {
  width: 350px;
  border-right: 2px solid transparent;
}

.divTipo {
  width: 300px;
  border-right: 2px solid transparent;
}

.divDificultad {
  width: 100px;
  border-right: 2px solid transparent;
}

.divTemporada {
  width: 120px;
  border-right: 2px solid transparent;
}

.divDuracion {
  width: 100px;
  border-right: 2px solid transparent;
}

.divCountries {
  width: 300px;
}

.btnDelete {
  background-color: #ff3f34;
  display: grid;
  place-content: center;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  transition: 150ms;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.btnDelete:hover {
  background-color: transparent;
  border: 2px solid #ff3f34;
  border-radius: 5px;
  color: #ff3f34;
  cursor: pointer;
}
