#root {
  width: 100%;
}

body {
  color: white;
  font-family: sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-landing {
  background-image: url("assets/bg-landing.jpg");
}

.bg-home {
  background-image: url("assets/bg-home.jpg");
}

.bg-activity {
  background-image: url("assets/bg-activity.jpg");
}
