.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 250px;
  height: 300px;
}

.btnLanding {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 15px;
  transition: 210ms;
}

.btnLanding:hover {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}

.tituloLanding {
  font-size: 84px;
  font-style: normal;
}

.span1 {
  color: #4b7bec;
  margin: 35px;
}

.span2 {
  color: #778ca3;
}
