.navbar {
  background-color: #020d14;
  color: #3498db;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}

.btnActive {
  color: #3498db;
  transition: 250ms;
}

.btnPending {
  color: #8395a7;
}

.divSearchBar {
  margin: 0 20px 0 20px;
}

.divBtn {
  margin: 0 20px 0 50px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.divBtn > * {
  text-decoration: none;
}
